.carousel-inner img {
   width: 100%;
   height: 500px;
 }
.carousel-caption .login{
  background-color: orange;
  color: white;
  border:1px solid white;
}
.carousel-caption .Signup{
  background-color: #6c757db5;
  border: 1px solid white;
  color: white;
}
.Isi{
   height: 100vh;
   
}
.pembungkus{
   background:url(image/slide6.jpg);
   background-repeat:no-repeat ;
   background-size: cover;
   background-position:0 70px;
   
   height: 100vh;
}
#LabelUser{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   color: blue;
   font-size: 28px;
   text-align: center;
   
}
#LabelAdmin{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   color:blue;
   font-size: 28px;
   text-align: center;
   
}
.User .card{
   background-color: transparent;
}
.Admin .card{
   background-color: transparent;
}
