
.pembungkus{
   background:url(image/slide6.jpg);
   background-repeat:no-repeat ;
   background-size: cover;
   background-position:0 70px;
   
   height: 100vh;
}
#LabelUser{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   color: blue;
   font-size: 28px;
   text-align: center;
   
}
#LabelAdmin{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight: 600;
   color:blue;
   font-size: 28px;
   text-align: center;
   
}
.SignUp .card{
   background-color: transparent;
}
